
 .footer-logo .logo-part {
        color: #f4f4fd;
  }

  /* ========= /MAIN/ ======== */

  /* ========= /SOLUTION TITLE SECTION/ ========== */

  .solutions-section {
    padding: 188px 0;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 700;
    background: #2e2f42;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/people-office.jpg');
  }


  .main-title {
    max-width: 496px;
    font-weight: 700;
      font-size: 56px;
      line-height: 1.07;
      letter-spacing: 0.02em;
      justify-content: center;
      align-items: center;
      color: #fff;
    margin: 0 auto 48px;
  }


  .order-service-btn {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #fff;
            background: #4d5ae5;
            cursor: pointer;
            display: block;
            min-width: 169px;
            padding: 16px 32px;
            border-radius: 4px;
            border: 0;
            margin: 0 auto;
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .order-service-btn:hover ,
  .order-service-btn:focus {
            background: #404bbf;
  }

  /* ======== /features/ ========= */

  .features-section {
    padding: 120px 0;
  }


  .features-list {
    display: flex;
    gap: 24px;
  }

  .features-list-item {
    width: calc((100% - 3 * 24px) / 4);
  }

  .icon-box {
        display: flex;
          justify-content: center;
          align-items: center;
      max-width: 264px;
      height: 112px;
      position: relative;
      border: 1px solid #8e8f99;
      background-color: #f4f4fd;
      border-radius: 4px;
      margin-bottom: 8px;
  }

  .icons {
    display: flex;
    width: 64px;
    height: 64px;
  }


.features-list-title {
  margin-bottom: 8px;
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.features-list-text {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

/* ======== /OUR TEAM/ ======= */

.team-section {
    background: #f4f4fd;
    padding: 120px 0;
}

.team-list-person {
    background-color: #FFFFFF;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16),
      0px 2px 1px rgba(46, 47, 66, 0.08);
      width: calc((100% - 72px) / 4);
        border-radius: 0 0 4px 4px;
      
}


.section-title {
  margin-bottom: 72px;
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        text-transform: capitalize;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
  
}


.list-name-container {
  padding: 32px 0;

}

.team-list-name {
  margin-bottom: 8px;
  text-align: center;
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.team-list-position {
  text-align: center;
  white-space: nowrap;
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        margin-bottom: 8px;
}

.social-list {
  display: flex;
  justify-content: center;
 gap: 24px;
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #4D5AE5;
  width: 40px;
  height: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover,
.social-list-link:focus {
  background-color: #404bbf;
}

.social-list-icon {
fill: #f4f4fd;
}


/* ========== /PORTFOLIO/ ========= */

.portfolio-section {
  padding-top: 120px;
    padding-bottom: 120px;
}

.portfolio-list {
    background-color: #FFFFFF;
    display: flex;
    gap: 48px 24px;
    flex-wrap: wrap;
}

.portfolio-list-item {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-container {
  border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    padding: 32px 16px;
}

.portfolio-section-title {
  margin-bottom: 72px;
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        text-transform: capitalize;
}

.portfolio-list-name {
  margin-bottom: 8px;
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.portfolio-list-text {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

.portfolio-overlay {
  position: relative;
  overflow: hidden;
}

.overlay-text {
  position: absolute;
  background-color: #4d5ae5;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    height: 100%;
    width: 100%;
    padding: 32px 40px;
    top: 0;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 40px 32px;
}

.portfolio-list-item:hover .overlay-text {
  transform: translateY(0%);
}

/* ========== /footer/ ========= */

.page-footer {
    background: #2e2f42;
    padding: 100px 0;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-text {
  max-width: 264px;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
}

.social-list-footer {
  display: flex;
  gap: 16px;
}

.social-list-link-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #4D5AE5;
  width: 40px;
  height: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link-footer:hover,
.social-list-link-footer:focus {
  background-color: #31d0aa;
}

.social-list-icon-footer {
  fill: #f4f4fd;
}

.social-text-footer {
font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-slog-container {
  margin-right: 120px;
}

.subscribe-container {
  margin-left: 80px;
}

.subscribe-text {
  margin-bottom: 16px;
  font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
}

.subscribe-form {
  display: flex;
  gap: 24px;
}

.subscribe-input {
  border: 1px solid #fff;
    border-radius: 4px;
    width: 264px;
    height: 40px;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  color: #ffffff;
}

.subscribe-input::placeholder {
  padding: 8px 16px;
  color: #fff;
}

.subscribe-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
    padding: 8px 24px;
    min-width: 165px;
    height: 40px;
    font-weight: 500;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.04em;
      text-align: center;
      color: #fff;
      cursor: pointer;
      background-color: #4d5ae5;
      border: none;
}

.subscribe-btn-icon {
  fill: #fcfcfc;
  margin-left: 16px;
}

/* ============= MODAL =========== */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(46, 47, 66, 0.4);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), 
  visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 408px;
  min-height: 584px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background-color: #fcfcfc;
    border-radius: 4px;

    transform: translate(-50%, -50%);

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
}

.backdrop:not(.is-open) .modal {
  transform: translate(-50%, -100%);

  overflow: auto;
  padding: 24px;
}

.modal-close-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  padding: 0;
background-color: #e7e9fc;
border-radius: 50%;
border: 1px solid #0000001a;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal-close-btn:hover, .modal-close-btn:focus,
.modal-close-icon:focus,
.modal-close-icon:hover {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}


.modal-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-slogan {
  max-width: 360px;
  font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 16px;
    color: #2E2F42;
}

.review-form-field-label {
  display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 4px;
}

.review-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
      font-size: 12px;
      line-height: 1.17;
      letter-spacing: 0.04em;
        color: #2E2F42;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: transparent;
}

.review-form-input:focus {
  outline: none;
  border-color: #4d5ae5;
}

.review-form-input:focus + .review-form-input-icon {
  fill: #4d5ae5;
}

.review-form-field-wrapper-name {
  margin-bottom: 8px;
}

.review-form-field-wrapper {
margin-bottom: 16px;
}

.review-form-input-icon {
stroke: #2e2f42;
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-input-wrapper {
  position: relative;
  margin-bottom: 8px;
}

.review-form-comment {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    resize: none;
    font-size: 12px;
    color: #2E2F42;
      letter-spacing: 0.04em;
      line-height: 1.17;
      color: rgba(46, 47, 66, 0.4);
      outline: transparent;
      transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-comment::placeholder {
color: rgba(46, 47, 66, 0.4);
}

.review-form-comment:focus {
  outline: none;
  border-color: #4d5ae5;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-checkbox-wrapper {
  margin-bottom: 24px;
}

.review-form-checkbox:checked + .review-form-checkbox-label > .review-form-custom-checkbox {
  background-color: #404bbf;
  border-color: #404bbf;
  fill: #F4F4FD;
  border: none;
}

.review-form-checkbox:focus + .review-form-checkbox-label > .review-form-custom-checkbox {
border-color: #4d5ae5;
}


.review-form-custom-checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    cursor: pointer;
    fill: transparent;
    margin-right: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-checkbox-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.review-form-policy-link {
  text-decoration: underline;
}

.accent-color {
    color: #4d5ae5;
}

.review-form-submit-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-width: 169px;
  height: 56px;
  font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    background-color: #4d5ae5;
    border-radius: 4px;
      border: none;
      padding: 16px 32px;
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
      transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-submit-btn:hover,
.review-form-submit-btn:focus {
  background: #404bbf;
}